<ul class="collection with-header">
  <li class="collection-header"><h4>Total cost: ${{calculateTotal}}</h4></li>
  {{#each model.animals as |animal|}}
  {{#if animal.cart}}
  <li class="collection-item"><div>{{animal.name}} - ${{animal.cost}}<i class="material-icons secondary-content" {{action 'removeFromCart' animal}}>not_interested</i></div></li>
  {{/if}}
  {{/each}}
</ul>
