<div class="row ">
  {{#each model.animals as |animal|}}
      <div class="col s4 animalBox valign-wrapper">
        <img class="valign" src="{{animal.picture}}" width="150px" height="150px" />
      </div>
  {{/each}}
</div>
