html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

nav, .btn {
  background-color: #9575cd;
}

.btn:hover{
  background-color: #7e57c2;
}

.animalBox{
  height: 175px;
  margin: 10px 0;
}

.newAnimal{
  margin-top: 100px;
}

.shoppingCart{
  font-size: 19px;
}

.userAnimals{
  margin-right: 5px;
}

.homeRow {
  padding-top: 50px;
}

.ourContainer {
  width: 90%;
  margin: 0 auto;
}

.iconSmall {
  font-size: 20px;
}

.shadowName {
  text-shadow: 2px 2px 1px #000;
}

.card {
  height: 300px;
}

.profilePic {
  border-radius: 50%;
  width: 50px;
  border: 2px solid #7e57c2;
}

.lineUp {
  font-size: 25px;
  margin-top: 3px;
}

.activator {
  height: 200px;
  width: 200px;
}

.revealButton {
  position: fixed;
  bottom: 20px;
  margin-left: 10px;
}

.true {
  display: none;
}

select {
  display: block;
}

.fixed-action-btn {
    top: 50%;
    margin-right: 27%;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;
}

.userTitle {
  font-size: 50px;
}

.collection {
  overflow-y: scroll;
  height: 260px;
  max-height: 260px;
}

.animalsDiv {
  overflow-y: scroll;
  height: 700px;
  max-height: 700px;
}

.updateDiv {
  margin: 0 auto;
}

.totalCost {
  color: #039be5;
}

.row .cartTile {
  margin: 10px;
  width: 10%;
}

.collection-header h3 {
  line-height: 50%;
}
