<nav>
  <div class="nav-wrapper">
      <a href="#!" class="brand-logo">&nbsp; Animal Depot</a>
      <ul class="right hide-on-med-and-down">
        <li><a href=""><i class="material-icons">shopping_cart</i></a></li>
        <li><a href="/"><i class="material-icons">home</i></a></li>
        <li><i class="material-icons">&nbsp; more_vert &nbsp;</i></li>
      </ul>
    </div>
</nav>

<div class="ourContainer">
  {{outlet}}
</div>
